<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bienvenida</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>
  <body>
    <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-item white blue-text" href="#one!">
        <p>Esto es lo que tenemos para ti</p><img class="responsive-img img-intro" src="../img/img_intro.png">
        <p>Bienvenid@ a Imagen Televisión</p>
        <p>Aquí encontrarás el mejor contenido de entretenimiento, noticias, deportes y más.</p>
      </div>
      <div class="carousel-item white blue-text" href="#two!">
        <p>Esto es lo que tenemos para ti</p><img class="responsive-img img-intro" src="../img/img_mi_lista.png">
        <p>Mi lista</p>
        <p>Aquí puedes guardar tus videos favoritos para verlos todas las veces que quieras.</p>
      </div>
      <div class="carousel-item white blue-text" href="#two!">
        <p>Esto es lo que tenemos para ti</p><img class="responsive-img img-intro" src="../img/img_personalizar_menu.png">
        <p>Personalizar menú</p>
        <p>Acomoda las secciones a tu gusto arrastrándolas desde donde se muestra en la imagen.</p>
      </div>
      <div class="carousel-fixed-item center"><a class="btn waves-effect red white-text darken-text-2" href="notificaciones.html">CONTINUAR</a></div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="../../public/js/bienvenida.js"></script>
</html>