.splash {
  margin-top: 33%; }

img.responsive-img.img-intro {
  width: 100px;
  heigth: 100px; }

.carousel .indicators .indicator-item.active {
  background-color: red; }

.carousel .indicators .indicator-item {
  background-color: blue; }
