doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Splash
		link(rel="stylesheet", href="../node_modules/materialize-css/dist/css/materialize.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.row
			.col.s10.offset-s1
				img(class="responsive-img splash" src="img/img_splash.png")

		script(src="../node_modules/jquery/dist/jquery.js")
		script(src="js/splash.js")

