doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Inicio de sesión
	body
		input(type="text", placeholder="Correo")
		input(type="text", placeholder="Contraseña")
		button(type="submit") Enviar
		a(id="facebook", href="#")
		a(id="twitter", href="#")
		a(id="google", href="#")